<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', required: true %>
</div>
<div class="text-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, type: 'text', required: true %>
</div>
<div class="text-field">
  <%= form.label :city %>
  <%= form.text_field :city, type: 'text' , required: true %>
</div>
